@import "./global/settings";

body {
  background-image: linear-gradient(to right, $faint-gray 1px, transparent 1px), linear-gradient(to bottom, $faint-gray 1px, transparent 1px);
  background-size: 15px 15px;
  background-repeat: initial;
  background-color: $background;
  color: #333;
  font-family: $base-font-family;
  font-size: 0.875rem;
  margin: 0;
  opacity: 0.9;
  padding: 0;
}

.main-container{
  opacity: 0.8;
  position: relative;
  top: 52px;
}

.text-accent{
  color: $accent !important;
}

.text-on-accent{
  color: $on-accent !important;
}

.badge-accent {
    color: $on-accent;
    background-color: $accent;
}

.btn-accent {
    color: $on-accent;
    background-color: $accent;
    border-color: $accent;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 0px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}