.header {
  border-bottom: 1px solid #eaeaea;
  padding: 0px !important;

  .logo {
    height: 50px;
    font-variant: small-caps;
    font-weight: 600;
    color: #34495e;
    border-right: 1px solid #eaeaea;
    padding: 10px 30px 10px 30px !important;
    margin: 0px !important;
    font-size: 1.25rem;
    background-color: #f7f9fa;
  }

  .top-menu {
    background-color: white;
    padding: 5px 5px 5px 15px !important;
  }

  .navbar-nav .nav-link {
    color: #333 !important;
  }
}

.zeropad {
  padding: 0px !important;
}

@media (max-width: 768px){
  .navbar-form-custom, .navbar-right, #logo {
    display: none;
  }
}
