@import '../assets/css/global/settings';

.header {
  font-family: $heading-font-family;
  border-bottom: 1px solid #eaeaea;
  padding: 0px !important;

  .logo {
    background-color: #f1f3f6;
    border-right: 1px solid #eaeaea;
    color: #34495e;
    font-size: 1.25rem;
    font-variant: small-caps;
    font-weight: 600;
    height: 35px;
    margin: 0px !important;
    padding: 0px 30px 0px 30px !important;
  }

  .top-menu {
    //background-color: white;
    border-right: 1px solid #eaeaea;
    padding: 0 5px 0 5px !important;

  }
  #mobile-menu.show{
    border-top: 1px solid #eaeaea;
  }

  #search{
    border: medium none;
    font-size: 0.875rem;
    height: 35px;
    margin: 0;

  }
  #search:focus{
    box-shadow: none;
  }

  .navbar-nav .nav-link {
    color: #333 !important;
  }

}

@media (max-width: 768px){
  .navbar-form-custom, .navbar-right, #logo {
    display: none;
  }
}

.z-flat-button {
  color: #333;
  font-size: 20px;
  padding: 0px 20px;
}

.list-group.dropdown-menu {
  border: 0;
  padding: 0;
  display: none;
  left: auto;
  right: 0;
}

.list-group.dropdown-menu.show {
  display: flex;
}

.z-drop-list.list-group {
  li.list-group-item {
    background: #f1f3fc;
    a {
      white-space: nowrap;
      font-size: 0.8125rem;
    }
  }
  li.list-group-item.summary{
    text-align: center;
    background: #fff;
  }
}

.badge-superscript {
  .badge {
    font-size: 10px;
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    top: 1px;
  }
}

.z-dash-list.dropdown-menu {
  padding: 30px 30px 0 30px;
  left: auto;
  right: 0;
  a {
    display: block;
    text-align: center;
    margin: 0 10px 30px 0;
    min-width: 100px;

    .fa {
      font-size: 46px;
    }
  }
  h5 {
    font-size: 13px;
    margin-top: 10px;
}
}
