@import '../assets/scss/global/settings';

.right-sidebar.show {
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.right-sidebar {
    position: fixed;
    z-index: 1200;
    top: 0;
    right: -310px;
    overflow-y: scroll;
    width: 300px;
    height: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #6c757d;
    background: #12131a;
    box-shadow: none;
}