@import '../assets/scss/global/index';

.boards-wrapper {
  $margin: 20px;

  @include flexbox;
  @include flex-flow(row wrap);
  margin: 0 $margin/2.5 $margin $margin/2.5;

  .card.card-tile {
    flex-basis: 19.5% !important;
    height: 120px;
    box-shadow: 5px 5px 0px #afafaf;

    .label-caption {
      display: inline-block;
      padding-top: 7px;
    }
  }
}
